<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Post Detail</h1>
    <div class="post">
      <p>post id : <%= post.id %></p>
      <h3>Username : @<%= post.username %></h3>
      <p>
        <b style="text-decoration: underline">content</b> : <%= post.post %>
      </p>
      <a href="http://localhost:7262/post">back to home</a>
    </div>
  </body>
</html>
