* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(30, 29, 29);
  opacity: 0.9;
  color: white;
}

h1 {
  color: #ff69b4;
  padding: 50px;
  font-size: 5rem;
}
form {
  display: flex;
  flex-direction: column;
  margin: 5rem 20rem;
}
input {
  padding: 20px 40px;
  border: none;
  margin-bottom: 1rem;
  background-color: rgb(105, 104, 104);
  opacity: 0.8;
  color: white;
  font-size: 1.5rem;
}

button {
  margin-top: 1rem;
  width: fit-content;
  padding: 1rem 5rem;
  background-color: rgb(105, 104, 104);
  border-radius: 5px;
  opacity: 0.8;
  color: white;
  font-size: 1.5rem;
}
textarea {
  padding: 20px 40px;
  border: none;
  background-color: rgb(105, 104, 104);
  opacity: 0.8;
  color: white;
  font-size: 1.5rem;
}
a {
  padding: 5px 10px;
  font-size: 2rem;
  margin: 0 auto;
  background-color: rgb(105, 104, 104);
  border-radius: 5px;
  color: #ff69b4;
  text-decoration: none;
  background-color: black;
}